<head>
    <link rel="stylesheet" href="~/css/campaign.css" />
</head>

@model AppCliente.Models.VMTipo

@{
    ViewData["Title"] = "Edit";
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<h1 class="primary-text">Edit</h1>

<h4>VMTipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: none;">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control form-input" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoPorHuesped" class="control-label"></label>
                <input asp-for="CostoPorHuesped" class="form-control form-input" />
                <span asp-validation-for="CostoPorHuesped" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary secondary-button" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="link-text">Back to List</a>
</div>
